*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
}
button:hover{
    cursor: pointer;;
}
.container{
    height: 96vh;
    width: 96vw;
    display: flex;
    flex-direction: column;
    margin: 2vh 2vw;
}
.upperArea{
    height: 80vh;
    width: 100%;
    display: flex;
}
#amountLeft{
    background-color: green;
    color: green;
    height: 2em;
    width: 4em;
}
#usedAmount{
    background-color: grey;
    color: grey;
    height: 2em;
    width: 2em;
}
.parkAndCharge{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.batteryLevel{
    display: flex;
    align-self: flex-end;
    margin-right: .5em;
    width: 25%;
}
.battery{
    margin-left: .5em;
    width: 49%;
}
.chargeAmount{
    display: flex;
    align-items: center;
}
#openFrunk{
    align-self: center;
}
.openAndSpeedLimit{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.speedLimitSign{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 55px;
    margin-left: auto;
    margin-right: 2%;
}
.limitText{
    display: flex;
    justify-content: center;
}
.speedLimit{
    margin-left: 3px;
}
.carSideLeft{
    background-color: #cbd0c2;
    flex-basis: 35%;
    height: 100%;
}
.carSectionButton{
    background-color: #cbd0c2;
    border: none;
}
.mainWithCar{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.openAndClose{
    background-color: grey;
    border: 1px solid black;
    border-radius: 50px;
    width: 6em;
    height: 4em;
    margin-bottom: 3em;
}
.closeButton{
    position: absolute;
    top: 55%;
    left: 5%;
}
.hollowCircleForError{
    border: 2px solid red;
    border-radius: 500px;
    width: 45px;
    height: 45px;
    position: absolute;
    top: 55%;
    left: 12%;
}
.swipeDots{
    display: flex;
    justify-content: center;
    margin-top: 1em;
}
#firstDot{
    margin-left: 1.5em;
}
.dotButtons{
    margin-right: 1em;
    background-color: #cbd0c2;
    border: none;
}
.lowerMain{
    height: 20%;
    width: 100%;
}
.carImage{
    width: 363px;
    height: 284px;
}
#carImage{
    transform: rotate(-90deg);
    width: 100%;
    height: 100%;
}
.mapArea{
    background-color: grey;
    flex-basis: 65%;
    height: 100%;
}
#action{
    position: absolute;
    top: 30%;
    left: 55%;
    width: 30%;
    height: 30%;
    background-color: grey;
    border: 2px solid black;
    border-radius: 500px;
    color: aliceblue;
    /*display: flex;*/
    display: none;
    align-items: center;
    justify-content: center;
    opacity: .6;
}
.mapImage{
    width: 100%;
    height: 100%;
    z-index: -10;
}
.lowerButtons{
    background-color: #363535;
    height: 20vh;
    width: 100%;
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.whiteButton{
    color: white;
}
.controlButtonsBottom{
    background-color: #363535;
    border: none;
}
.controlIcons{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.fas{
    font-size: 1.5em;
}